 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(rgb(72, 156, 111),rgb(148, 199, 93),rgb(26, 165, 133));
}
.contain{
    background-image: url(dclock.jpg);
    border-radius: 25%;
    width: 400px;
    /* height: 100px; */
    padding: 30px;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}
#time{
    padding: 10px;
    margin: 10px;
}
#date{
    padding: 10px;
    margin: 10px;
}
